#This htaccess file implements site-based
# licensing for ShelvAR. Each supported site needs
# a rule that sets their institution code.
RewriteEngine On

#Miami University of Ohio
RewriteCond %{REMOTE_ADDR} ^134\.53\.(.*)\.(.*)$ [OR]
RewriteCond %{REMOTE_ADDR} ^172\.25\.5.\.(.*)$ [OR]
RewriteCond %{REMOTE_ADDR} ^172\.25\.120.\.(.*)$ [OR]
RewriteCond %{REMOTE_ADDR} ^172\.25\.27\.144$ [OR]
RewriteCond %{REMOTE_ADDR} ^10\.(.*).\.(.*)\.(.*)$
RewriteRule (.*) $1?institution=muohio [QSA,L]

#TEST - Brinkman's house
RewriteCond %{REMOTE_ADDR} ^74\.83\.118\.5.$ [OR]
RewriteCond %{REMOTE_ADDR} ^74\.215\.173\.188$ [OR]
RewriteCond %{REMOTE_ADDR} ^74\.83\.66\.91$
RewriteRule (.*) $1?institution=brinkman [QSA,L]

#Eliot's Pad
RewriteCond %{REMOTE_ADDR} ^24\.164\.78\.127$
RewriteRule (.*) $1?institution=eliot [L]

#Non-licensed users that try to manually add an institution code
#RewriteCond %{QUERY_STRING} institution=(.+)
#RewriteRule ^(.*)$ sorry.php [L]

RewriteRule ^(.*)$ sorry.php [L]

###########
### API ###
###########

# ^api/B642LC/ = does the page start with "api/B642LC"
# ([^/.]+) = capture 1+ characters that aren't '.' or '/' and store them in $1
# /?$ = only allows a POSSIBLE '/'
# Therefore: accessing ".../api/B642LC/blah" will actually call ".../api/book_tags/B642LC.php?B64=blah"
RewriteRule ^api/book_tags/([^/\.]+)/?$ api/lc2bin/B642LC.php?B64=$1 [QSA, L]

# Same as above for LC2B64
RewriteRule ^api/call_numbers/([^/\.]+)/?$ api/lc2bin/LC2B64.php?LC=$1 [QSA, L]

# POST book_pings/
# Redirects to the code; code = book_ping.php
RewriteRule ^api/book_pings/([^/\.]+)/$ api/book_pings/book_ping.php?jsoninput=$1&institution= [QSA,L]