Header set Access-Control-Allow-Origin *

#This htaccess file implements site-based
# licensing for ShelvAR. Each supported site needs
# a rule that sets their institution code.

RewriteEngine On

RewriteRule ^$ http://devapi.shelvar.com/doc [R=301,L]
RewriteRule ^doc - [L]

RewriteRule ^oauth - [L]
RewriteRule ^deploy - [L]

###########
### API ###
###########

#TODO: Update the regular expression to only accept valid base64 characters
RewriteCond %{THE_REQUEST} GET
RewriteRule ^book_tags/([^/]+)(?=.json) api/lc2bin/book_tags.php?B64=$1 [L,QSA]

#RewriteCond %{THE_REQUEST} GET
#RewriteRule ^call_numbers/([^/]+)(?=.json) api/lc2bin/call_numbers.php?call_number=$1 [L,QSA]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^lc_numbers/([^/]+)(?=.json) api/lc2bin/lc_numbers.php?call_number=$1 [L,QSA]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^book_pings/count api/book_pings/get_ping_count_book.php [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^book_pings/([0-9]+)(?=.json) api/book_pings/get_by_id.php?book_ping_id=$1 [L,QSA]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^book_pings api/book_pings/book_ping.php [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^users api/users/register_user.php [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^institutions api/institutions/register_institution.php [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^book_pings api/book_pings/book_pings_get.php [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^make_tags/([^/]+)(?=.pdf) api/tagmaker/pdfPrint.php?type=$1 [L,QSA]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^make_tags/csvFormats api/tagmaker/tagformats.csv [L]

#Catch-all error message when someone tries to use non-existing API
#Note that there are TWO ways to get here!
#If you don't use L, then we will get here.
#Also, if you do any substitution, then it will get here
# via a re-direct...
RewriteCond %{ENV:REDIRECT_STATUS} !=200
RewriteRule ^(.*) sorry-api.php?api_info=/api/$1 [NS,QSA]
