#Incude these lines
Options +FollowSymLinks
RewriteEngine on


#redirects http://dev.shelvar.com/api/book_pings(and or /) to
#http://dev.shelvar.com/api/reporttool/book_ping_lib.php

#RewriteRule ^book_pings http://24.164.78.127/dev/ShelvARWeb/api/reporttool/book_ping_lib.php? [NC,L]
RewriteRule    ^parrots/?$    ../index.html    [NC,L]    # Process parrots