# Handles access to B642LC and LC2B64
Options +FollowSymLinks
RewriteEngine On

# ^api/B642LC/ = does the page start with "api/B642LC"
# ([^/.]+) = capture 1+ characters that aren't '.' or '/' and store them in $1
# /?$ = only allows a POSSIBLE '/'
# Therefore: accessing ".../api/B642LC/blah" will actually call ".../api/lc2bin/B642LC.php?B64=blah"
RewriteRule ^B642LC/([^/\.]+)/?$ lc2bin/B642LC.php?B64=$1 [NC]

# Same as above for LC2B64
RewriteRule ^LC2B64/([^/\.]+)/?$ lc2bin/LC2B64.php?LC=$1 [NC]

#eliots additions for book_pings
RewriteRule    ^book_pings/([A-Za-z0-9-]+)/?$    get_product_by_name.php?product_name=$1    [NC]    # Process parrots